apiVersion: v1
kind: Service
metadata:
  name: config-server
  labels:
    app: config-server
spec:
  type: NodePort
  ports:
  - port: 8888
    targetPort: 8888
    protocol: TCP
    name: tcp
  selector:
    app: config-server
---
apiVersion: v1
kind: ReplicationController
metadata:
  name: my-config-server
spec:
  replicas: 2
  template:
    metadata:
      labels:
        app: config-server
    spec:
      containers:
      - name: config-server
        image: ursuad/tutorial-springbox-config-server:latest
        ports:
        - containerPort: 8888
        livenessProbe:
            httpGet:
              path: /health
              port: 8888
            initialDelaySeconds: 15
            timeoutSeconds: 1